body{
  background-color: whitesmoke;
}

#headImage {
  background-image: url('http://i.imgur.com/f193R1d.png');
  background-repeat: no-repeat;
  width: 500px;
  height: 200px;
  margin: 0 auto;
}

#name-data {
  margin: 0 auto;
}

form {
  display: block;
  width: 25%;
  margin: 0 auto;
}

#cookie {
  background-image: url('http://i.imgur.com/xadDfqP.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

#fortune {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}


h1 {
    color: red;
    font-family: 'Courier', serif;
    line-height: 30px;
    font-size: 25px;
    margin: 0 auto;

    }
